.ut-hero.hero--blue-bar {
  background-color: #fbfbf9;
  background-image: none;
  border-bottom: 1px solid #e6ebed;
  height: auto;
  padding: 0;
}

@media screen and (min-width: 900px) {
  .ut-hero.hero--blue-bar {
    height: auto;
  }
  .ut-hero.hero--blue-bar img {
    width: 100%;
  }
}
.ut-hero.hero--blue-bar .hero-content {
  height: 100%;
}
.ut-hero.hero--blue-bar .hero-callout {
  background-color: #005f86;
  padding: 1rem 1rem 0 1rem;
  overflow: auto;
}

@media screen and (min-width: 900px) {
  .ut-hero.hero--blue-bar .hero-callout {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
  }
}
.ut-hero.hero--blue-bar .hero-headline {
  color: #fff;
  padding-bottom: .5rem;
}
.ut-hero.hero--blue-bar .hero-subhead {
  color: #fbfbf9;
  margin-right: 6px;
}
.ut-hero.hero--blue-bar .hero-cta {
  display: block;
  margin: 1rem 0;
}

@media screen and (min-width: 900px) {
  .ut-hero.hero--blue-bar .hero-cta {
    display: inline;
    margin: 0;
  }
}
