.ut-hero.hero--photo-gradient {
  background-size: cover;
  height: 300px;
}

.ut-hero.hero--photo-gradient.center {
  background-position: center;
}
.ut-hero.hero--photo-gradient.left {
  background-position: left;
}
.ut-hero.hero--photo-gradient.right {
  background-position: right;
}

@media screen and (min-width: 900px) {
  .ut-hero.hero--photo-gradient {
    height: 543px;
  }
}
.ut-hero.hero--photo-gradient .hero-content {
  background-color: #333f48;
  background: linear-gradient(to bottom, rgba(31, 38, 43, 0.5) 0%, rgba(31, 38, 43, 0.9) 82%, rgba(31, 38, 43, 0.9) 100%);
  bottom: 0;
  max-width: 100%;
  height: auto;
  position: absolute;
  width: 100%;
}
.ut-hero.hero--photo-gradient .hero-callout {
  max-width: 73.75em;
  margin: auto;
}
.ut-hero.hero--photo-gradient .hero-cta {
  white-space: nowrap;
}

@media screen and (min-width: 900px) {
  .ut-hero.hero--photo-gradient .hero-callout {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .ut-hero.hero--photo-gradient .hero-headline {
    margin-right: 2rem;
  }
}
.ut-hero.hero--photo-gradient .hero-headline {
  color: #fff;
}
