{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
{% include "@utexas_layouts/layouts/backgrounds.html.twig" %}
  <div {{ background.addClass(background_classes) }}>
    <div{{ attributes }}>
        {% if content.main %}
            <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
                {{ content.main }}
            </div>
        {% endif %}
    </div>
  </div>
</div>
{% endif %}
