{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
{% embed "@utexas_layouts/layouts/section.html.twig" %}
  {% block layout %}
    {% if content.main %}
        <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
          {{ content.main }}
        </div>
    {% endif %}
  {% endblock %}
{% endembed %}
{% endif %}
