.block__ut-social-links--items {
  display: flex;
  flex-wrap: wrap;
}
.block__ut-social-links--items svg {
  width: 40px;
  height: auto;
}
.block__ut-social-links--items > div {
  margin-right: 5px;
}

.block__ut-social-links .ut-headline {
  font-size: 1.125rem;
  margin-bottom: 8.5px;
}