.block__ut-social-links--items.ut-social-links--small svg {
  width: 22px;
  height: auto;
}
.block__ut-social-links--items.ut-social-links--medium svg {
  width: 40px;
  height: auto;
}
.block__ut-social-links--items.ut-social-links--large svg {
  width: 80px;
  height: auto;
}
/* Only center icons within the main content block */
.block-system-main-block .block__ut-social-links {
  text-align: center;
}
.block__ut-social-links--items {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: min(-10px, -1vw);
  margin-bottom: min(-10px, -1vw);
}
.block__ut-social-links--item {
  margin-left: max(10px, 1vw);
  margin-bottom: max(10px, 1vw);
}
.block__ut-social-links--item:last-child {
  margin-right: auto;
}
/* Style icons in header. */
header .block__ut-social-links--items {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5px;
}

/* Limited to social link blocks placed using Layout Builder (.layout_region) */
.layout__region .block__ut-social-links {
  margin: auto;
}
.layout__region .block__ut-social-links.ut-social-links--small {
  --ipr-grid-gap: max(10px, 1vw);
  --ipr-grid-min-min-size: 22px;
  --ipr-grid-min-max-size: 22px;
}
.layout__region .block__ut-social-links.ut-social-links--medium {
  --ipr-grid-gap: max(10px, 1vw);
  --ipr-grid-min-min-size: 40px;
  --ipr-grid-min-max-size: 40px;
}
.layout__region .block__ut-social-links.ut-social-links--large {
  --ipr-grid-gap: max(10px, 1vw);
  --ipr-grid-min-min-size: 80px;
  --ipr-grid-min-max-size: 80px;
}
.layout__region .utexas-fourcol .block__ut-social-links {
  max-width: calc((var(--ipr-grid-min-max-size) * 4) + (var(--ipr-grid-gap) * 3));
}
.layout__region .utexas-threecol .block__ut-social-links {
  max-width: calc((var(--ipr-grid-min-max-size) * 3) + (var(--ipr-grid-gap) * 2));
}
.layout__region .utexas-twocol .block__ut-social-links.ut-social-links--small {
  max-width: calc((var(--ipr-grid-min-max-size) * 2) + (var(--ipr-grid-gap) * 1));
}
/* Items Per Row Styles */
.layout__region .utexas-onecol .block__ut-social-links--items,
.layout__region .utexas-twocol .block__ut-social-links--items,
.layout__region .utexas-threecol .block__ut-social-links--items,
.layout__region .utexas-fourcol .block__ut-social-links--items {
  display: grid;
  grid-gap: var(--ipr-grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(max(var(--ipr-grid-min-min-size), var(--ipr-grid-min-max-size)), 1fr));
  /* Maximum total width of all grid gaps (gutters) possible at --ipr-grid-num-columns. */
  --ipr-grid-gap-total: calc((var(--ipr-grid-num-columns) - 1) * var(--ipr-grid-gap));
  /* Total width of the container minus the width of maximum total possible grid gaps. */
  --ipr-grid-available-space: calc(100% - var(--ipr-grid-gap-total));
  /* Total available space divided by the maximum number of columns. */
  /* Subract 1px from total to prevent odd rounding behavior in Firefox. */
  --ipr-grid-min-max-size: calc(var(--ipr-grid-available-space) / var(--ipr-grid-num-columns) - 1px);
}

.layout__region .utexas-onecol .block__ut-social-links--items {
  --ipr-grid-num-columns: 1;
}
.layout__region .utexas-twocol .block__ut-social-links--items {
  --ipr-grid-num-columns: 2;
}
.layout__region .utexas-threecol .block__ut-social-links--items {
  --ipr-grid-num-columns: 3;
}
.layout__region .utexas-fourcol .block__ut-social-links--items {
  --ipr-grid-num-columns: 4;
}
.layout__region .utexas-onecol .block__ut-social-links--item,
.layout__region .utexas-twocol .block__ut-social-links--item,
.layout__region .utexas-threecol .block__ut-social-links--item,
.layout__region .utexas-fourcol .block__ut-social-links--item {
  margin: auto;
}

/* Add padding to the bottom on social links blocks if border style is used. */
.utexas-field-border .block__ut-social-links {
  padding-bottom: 1.625rem;
}
