.field--type-utexas-social-link-field .form-item {
  display: table-cell;
  padding-right: 1rem;
}
.region-content table svg,
form svg {
  width: 50px;
}
.field--type-utexas-social-link-field .form-item input[value="Add social link item"] {
  margin-top: 1em;
}
.field--type-utexas-social-link-field .form-item.form-type--radio {
  display: block;
}
