 {#
/**
 * @file
 * Template for Quick Links widget.
 *
 * Available variables:
 * - headline: The Quick Link Headline..
 * - copy: The Quck Links copy field.
 * - line.url: The URL of the each ink.
 * - link.title: The text of each link.
 *
 */
#}

<div class="utexas-quick-links {{ columns }}">
  <h3 class="ut-headline">{{ headline }}</h3>
  <div class="ut-copy">{{ copy }}</div>
  <ul class="link-list">
      {% for link in links %}
      <li>
        {{ link(link.title, link.url, { 'class':['ut-link']} ) }}
      </li>
      {% endfor %}
  </ul>
</div>