/*
 * @file
 * Provides the layout styles for three-column layout section.
 */

.utexas-layout--threecol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.utexas-layout--threecol > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 600px) {
  .utexas-layout--threecol.utexas-layout--threecol--25-50-25 > .layout__region--first,
  .utexas-layout--threecol.utexas-layout--threecol--25-50-25 > .layout__region--third,
  .utexas-layout--threecol.utexas-layout--threecol--25-25-50 > .layout__region--first,
  .utexas-layout--threecol.utexas-layout--threecol--25-25-50 > .layout__region--second,
  .utexas-layout--threecol.utexas-layout--threecol--50-25-25 > .layout__region--second,
  .utexas-layout--threecol.utexas-layout--threecol--50-25-25 > .layout__region--third {
    flex: 0 1 23%;
  }
  .utexas-layout--threecol.utexas-layout--threecol--25-50-25 > .layout__region--second,
  .utexas-layout--threecol.utexas-layout--threecol--25-25-50 > .layout__region--third,
  .utexas-layout--threecol.utexas-layout--threecol--50-25-25 > .layout__region--first {
    flex: 0 1 48.75%;
  }
  .utexas-layout--threecol.utexas-layout--threecol--33-34-33 > .layout__region--first,
  .utexas-layout--threecol.utexas-layout--threecol--33-34-33 > .layout__region--second,
  .utexas-layout--threecol.utexas-layout--threecol--33-34-33 > .layout__region--third {
    flex: 0 1 32%;
  }
}

/* Reset for between-column margin */
.utexas-layout--threecol.utexas-layout-no-padding .layout__region--first,
.utexas-layout--threecol.utexas-layout-no-padding .layout__region--second {
  padding-right: 0;
}
.utexas-layout--threecol.utexas-layout-no-padding .layout__region--second,
.utexas-layout--threecol.utexas-layout-no-padding .layout__region--third {
  padding-left: 0;
}
