/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

.utexas-layout--fourcol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.utexas-layout--fourcol > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 600px) {
  .utexas-layout--fourcol.utexas-layout--fourcol > .layout__region--first,
  .utexas-layout--fourcol.utexas-layout--fourcol > .layout__region--second,
  .utexas-layout--fourcol.utexas-layout--fourcol > .layout__region--third,
  .utexas-layout--fourcol.utexas-layout--fourcol > .layout__region--fourth {
    flex: 0 1 23%;
  }
}

/* Reset for between-column margin */
.utexas-layout--fourcol.utexas-layout-no-padding .layout__region--first,
.utexas-layout--fourcol.utexas-layout-no-padding .layout__region--second,
.utexas-layout--fourcol.utexas-layout-no-padding .layout__region--third {
  padding-right: 0;
}
.utexas-layout--fourcol.utexas-layout-no-padding .layout__region--second,
.utexas-layout--fourcol.utexas-layout-no-padding .layout__region--third,
.utexas-layout--fourcol.utexas-layout-no-padding .layout__region--fourth {
  padding-left: 0;
}
