/*
 * @file
 * Provides the layout styles for two-column layout section.
 */

.utexas-layout--fourcol .utexas-layout--fourcol-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2.5%;
}

.utexas-layout--fourcol .utexas-layout--fourcol-wrapper > .layout__region {
  flex: 1 1 100%;
  margin-left: 2.5%;
}

/* Reset for container fluid with no padding */
.utexas-layout--fourcol.utexas-layout-no-padding .utexas-layout--fourcol-wrapper,
.utexas-layout--fourcol.utexas-layout-no-padding .utexas-layout--fourcol-wrapper > * {
  margin-left: 0;
}

@media screen and (min-width: 600px) {
  .utexas-layout--fourcol .utexas-layout--fourcol-wrapper > .layout__region {
    flex: 1 1 22.5%;
  }
}
