.background-accent .block-layout-builder {
    background:#fff;
    border:1px solid gray;
    padding:1rem;
    margin:0.5rem 1rem 0.5rem 1rem;
}

.background-accent {
  position:relative;
}

#layout-builder .configure-section {
  background:#fff; /* Ensure that the "Configure" button is visible with background images */
}

#layout-builder .remove-section {
  margin-left:1rem;
}