#layout-builder-modal .utexas-link-form-element input,
.utexas-link-form-element input {
  width: 95%;
}
.utexas-link-form-element {
  display: flex;
}
.utexas-link-form-element > div {
  flex: 1 0 50%;
}
