.ut-flex-content-area-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ut-flex-content-area,
.ut-flex-content-area.three-col {
  flex: 0 0 100%;
}

@media screen and (min-width: 640px) {
  .ut-flex-content-area.one-col {
    flex: 0 0 100%;
  }
  .ut-flex-content-area.two-col {
    flex: 0 0 49%;
  }
  .ut-flex-content-area.three-col {
    flex: 0 0 32%;
  }
  .ut-flex-content-area.four-col {
    flex: 0 0 24%;
  }
}

.layout--utexas-66-33--container .layout__region--sidebar .ut-flex-content-area-wrapper {
  flex-direction: column;
}

.layout--utexas-66-33--container .layout__region--sidebar .ut-flex-content-area {
  flex-direction: column;
  flex: 0 0 100%;
}
