.utexas-instagram-feed-post {
  max-width: 100%;
  overflow: auto;
}

.utexas-instagram-feed-post .utexas-instagram-feed-post__link {
  display: block;
  font-size: 0;
  height: 0;
  width: 0;
}
/* Remove focus outline because the <a> element has not height/width. */
.utexas-instagram-feed-post .utexas-instagram-feed-post__link:focus {
  outline: none;
}
.utexas-instagram-feed-post .utexas-instagram-feed-post__link:focus::after,
.utexas-instagram-feed-post .utexas-instagram-feed-post__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
/* Add back focus outline because the ::after element is taking the <a>
  element's place. Add innner border because overflow:hidden is set on parent,
  therefore making outline dissappear behind parent "frame". */
.utexas-instagram-feed-post .utexas-instagram-feed-post__link:focus::after {
  border: 4px solid #212529;;
  outline: 2px dotted #aeb0b5;
  outline-offset: -3px;
}

  /* Ensure that all images are "cropped square." */
  .utexas-instagram-feed-post .utexas-instagram-feed-post__image-wrapper {
    position: relative;
  }
  .utexas-instagram-feed-post .utexas-instagram-feed-post__image-wrapper::after {
    content: "";
    display: block;
    /* 100% is based on the width of the element, rather than the height */
    padding-bottom: 100%;
  }
  .utexas-instagram-feed-post .utexas-instagram-feed-post__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }

.utexas-instagram-feed-post .utexas-instagram-feed-post__other-data {
  color: #fff;
  padding: 0.5rem;
  position: relative;
}

.utexas-instagram-feed-post:focus .utexas-instagram-feed-post__other-data,
.utexas-instagram-feed-post:hover .utexas-instagram-feed-post__other-data {
  display: block;
}

.utexas-instagram-feed-post .utexas-instagram-feed-post__other-data .name {
  margin-bottom: 10px;
}

.utexas-instagram-feed-post .utexas-instagram-feed-post__other-data .name,
.utexas-instagram-feed-post .utexas-instagram-feed-post__other-data .caption p {
    font-size: 1.25rem;
}

.utexas-instagram-feed-post .utexas-instagram-feed-post__other-data .caption p:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .utexas-instagram-feed-post .utexas-instagram-feed-post__other-data {
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    bottom: 0;
    opacity: 0;
    padding: 20px 30px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .utexas-instagram-feed-post .utexas-instagram-feed-post__link:focus ~ .utexas-instagram-feed-post__other-data,
  .utexas-instagram-feed-post .utexas-instagram-feed-post__link:hover ~ .utexas-instagram-feed-post__other-data {
    opacity: 1;
  }
}
