.ut-btn:not(.button--primary),
.ut-btn--small,
.ut-btn--large,
.ut-btn--disabled,
.ut-btn--secondary,
button:not(.trigger, .ui-button, .ck-button, .link-edit-summary, .slick-arrow, .slick-autoplay-toggle-button, .navbar-toggler) {
  background-color: var(--ut-burntorange);
  border: 2px solid var(--ut-burntorange);
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: .55rem;
  padding: .5rem 1rem;
  text-decoration: none !important;
  transition: background-color, color, border-color, .33s ease-out !important;
  &:hover,
  &:focus-visible {
    border: 2px solid var(--ut-burntorange--s20);
    background-color: var(--ut-burntorange--s20);
    color: var(--ut-white);
    cursor: pointer;
    text-decoration: none;
  }
}
.ut-btn,
.ut-btn--small,
.ut-btn--large,
button:not(.trigger, .ui-button, .ck-button, .link-edit-summary, .slick-arrow, .slick-autoplay-toggle-button, .navbar-toggler) {
  color: var(--ut-white);

  &:link,
  &:visited {
    color: var(--ut-white);
  }
  &:active {
    background-color: var(--ut-burntorange--s10);
  }
}

.ut-btn--small {
  font-size: 0.825rem;
  line-height: 1.5;
  padding: .25rem .75rem;
  text-transform: uppercase;
}

.ut-btn--large {
  padding: .75rem 1.25rem;
  text-transform: uppercase;
}

.ut-btn--secondary,
.ut-btn--secondary.ut-btn--small,
.ut-btn--secondary.ut-btn--large {
  background-color: var(--ut-white);
  border-color: var(--ut-burntorange);
  color: var(--ut-burntorange);

  &:link,
  &:visited {
    color: var(--ut-burntorange);
  }
  &:hover,
  &:focus-visible {
    border: 2px solid var(--ut-burntorange--s20);
    background-color: var(--ut-burntorange--s20);
    color: var(--ut-white);
  }

}

.ut-btn--disabled {
  pointer-events: none;
  background-color: var(--ut-shade--t40);
  border-color: var(--ut-shade--t40);
  opacity: var(--bs-btn-disabled-opacity);
  color: var(--ut-burntorange);
  &:link,
  &:visited {
    color: var(--ut-shade);
  }
}

.corner--rounded {
  border-radius: 4px !important;
}
.corner--square {
  border-radius: 0 !important;
}
.corner--pill {
  border-radius: 2rem !important;
}
