.block-local-tasks-block {
  margin: 1.5rem 0;

  .tabs a:focus,
  .tabs a:hover {
    background-color: var(--ut-shade--t20);
  }

  ul.tabs.primary {
    border-bottom: 1px solid var(--ut-charcoal--t40);
    list-style: none;
    margin: 0.3125rem;
    padding: 0 0 0.1875rem 1rem;
    white-space: nowrap;
    line-height: normal;

    li {
      display: inline-block;

      a {
        background-color: var(--ut-charcoal--t20);
        border-color: var(--ut-charcoal--t40);
        border-style: solid solid none;
        border-width: 1px;
        border-radius: 3px 3px 0 0;
        height: auto;
        margin-right: 0.5rem;
        padding: 0.25rem 1rem 0.1875rem;
        text-decoration: none;
        color: #333;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      a.is-active {
        background-color: var(--ut-white);
        border: 1px solid var(--ut-charcoal--t40);
        border-bottom: 1px solid var(--ut-white);
      }
    }
  }
}