.align-left,
.align-right,
.align-center {
  margin-bottom: 1rem;
  padding-top: 0.4rem;
}

.align-left {
  margin-left: 0;
  margin-right: 1rem;
}

.align-right {
  margin-left: 1rem;
  margin-right: 0;
}

.align-center {
  text-align: center;
}

/* Ensure caption text does not exceed image */
/* Solution modeled after https://stackoverflow.com/a/28394126 */
figure.align-right,
figure.align-left,
figure.align-center {
  display: table;
}
figure.align-right figcaption,
figure.align-left figcaption,
figure.align-center figcaption {
  display: table-caption;
  caption-side: bottom;
  text-align: left;
}

/* Ensure ul, ol and dt elements layout properly with floated left images. */
.align-left ~ ul,
.align-left ~ ol,
.drupal-media-style-align-left ~ ul,
.drupal-media-style-align-left ~ ol {
  overflow: hidden;
  padding-left: 1.85rem;
}

.align-left ~ dl,
.drupal-media-style-align-left ~ dl {
  overflow: hidden;
  padding-left: 0.85rem;
}
