
/* Add a margin-bottom to wherever .block class is used in the main content region. */
.block {
  margin-bottom: 2.5rem;
  /* Overrides */
  &.block-system-breadcrumb-block {
    margin-bottom: 1rem;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  mask-image: url("data:image/svg+xml;charset=UTF-8, <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" viewBox=\"0 0 28 28\"><path d=\"M9.297 15c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.219-0.156-0.359 0-0.125 0.063-0.266 0.156-0.359l6.141-6.141-6.141-6.141c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359z\"></path></svg>");
  background: var(--ut-charcoal);
  width: 12px;
  height: 12px;
  mask-position: left center;
  mask-repeat: no-repeat;
  mask-size: cover;
  margin-top: 3px;
}
