
/* Add a margin-bottom to wherever .block class is used in the main content region. */
.block {
  margin-bottom: 2.5rem;
  /* Overrides */
  &.block-system-breadcrumb-block {
    margin-bottom: 1rem;
  }
}
