.tabledrag-cell-content__item {
  width: 100%;
}
.field--type-utexas-quick-links table td details {
  float: left;
  width: 99%;
}
.field--widget-utexas-quick-links table td {
  vertical-align: top;
}
.field--widget-utexas-quick-links table td:last-child {
  width: 1%;
}
.field--widget-utexas-quick-links table td input[value^="Remove"]  {
  margin-top: 8px;
}

