.tabledrag-cell-content__item {
  width: 100%;
}
.field--type-utexas-promo-unit table td a.tabledrag-handle {
  margin-top: 1.5rem;
}
.field--type-utexas-promo-unit table td details {
  float: left;
  width: 99%;
}
.field--type-utexas-promo-unit table td {
  vertical-align: top;
}
.field--type-utexas-promo-unit table td:last-child {
  width: 1%;
}
.field--type-utexas-promo-unit table td input[value^="Remove"] {
  margin-top: 8px;
}
