.field--type-utexas-promo-unit table td a.tabledrag-handle {
  margin-top: 1.5rem;
}
.field--type-utexas-promo-unit table td details {
  margin-left: 2rem;
  float: left;
  width: fit-content;
  min-width: 79%;
  max-width: 95%;
}
.field--type-utexas-promo-unit table td {
  vertical-align: top;
}
.field--type-utexas-promo-unit table td input[value^="Remove"] {
  margin-top: 8px;
}
