body.install-page {
    background: #f0e3c3;
}
.layout-container {
    border-radius: 0;
    border: 2px solid #bf5700;
    box-shadow: 0 6px 12px #bf5700;
}
h1.page-title {
    color:#bf5700;
}
.site-version {
    display: block;
}
.site-version::before {
    content: "Version: ";
}
.button.button--primary {
    background-color: #bf5700;
    background-image: none;
    border: none;
    border-radius: 10px;
    transition: background-color .1s ease-in-out;
}
.button.button--primary:hover {
    background-color: #a04400;
    background-image: none;
}
header {
    background-image: url(../logo.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: calc(35% + 8.7em);
    background-position-y: 20px;
}
@media (max-width: 48em) {
    header {
        background-image: none;
    }
}