/* Styling for Quick Link columns. */
.utexas-quick-links ul.link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.utexas-quick-links ul.link-list li {
  width: 100%;
  box-sizing: border-box;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

/* Two Columns. */
.utexas-quick-links.two ul.link-list li {
  width: 50%;
  padding-right: 1rem;
}

.utexas-quick-links.two ul.link-list li:nth-child(2n+0) {
  padding-right: 0;
}

/* Three Columns. */
.utexas-quick-links.three ul.link-list li {
  width: 33%;
  padding-right: 1rem;
}

.utexas-quick-links.three ul.link-list li:nth-child(3n+0) {
  padding-right: 0;
}

/* Four Columns. */
.utexas-quick-links.four ul.link-list li {
  width: 25%;
  padding-right: 1rem;
}

.utexas-quick-links.four ul.link-list li:nth-child(4n+0) {
  padding-right: 0;
}

/* 2, 3, 4 columns goes to 1 column if under 600px */
@media screen and (max-width: 599px) {

  .utexas-quick-links.two ul.link-list li,
  .utexas-quick-links.three ul.link-list li,
  .utexas-quick-links.four ul.link-list li {
    width: 100%;
    padding-right: 1rem;
  }
}

/* 2 columns goes to 1 column if between 600 and 899px */
@media screen and (min-width: 600px) and (max-width: 899px) {
  .utexas-quick-links.two ul.link-list li {
    width: 100%;
  }
  .utexas-quick-links.three ul.link-list li:nth-child(2n+0),
  .utexas-quick-links.three ul.link-list li:nth-child(3n+0),
  .utexas-quick-links.three ul.link-list li:nth-child(4n+0) {
    padding-right: 1rem;
  }
}

/* 3 columns goes to 2 columns if between 600 and 899px */
@media screen and (min-width: 600px) and (max-width: 899px) {
  .utexas-quick-links.three ul.link-list li {
    width: 50%;
  }
  .utexas-quick-links.three ul.link-list li:nth-child(2n+0),
  .utexas-quick-links.three ul.link-list li:nth-child(3n+0),
  .utexas-quick-links.three ul.link-list li:nth-child(4n+0) {
    padding-right: 1rem;
  }
}

/* 4 columns goes to 3 columns if between 600 and 899px */
@media screen and (min-width: 600px) and (max-width: 899px) {
  .utexas-quick-links.four ul.link-list li {
    width: 50%;
  }
  .utexas-quick-links.three ul.link-list li:nth-child(2n+0),
  .utexas-quick-links.three ul.link-list li:nth-child(3n+0),
  .utexas-quick-links.three ul.link-list li:nth-child(4n+0) {
    padding-right: 1rem;
  }
}

/* Border styles */
.field-border .utexas-quick-links {
  padding: 0;
  background-color: #fff;
  border: 1px solid #e1ddd2;
  margin-bottom: 35px;
}
.field-border .utexas-quick-links .ut-headline {
  margin: 0 0 10px 0;
  line-height: 1.625rem;
  color: #2d2a28;
  font-weight: 600;
}
.field-border .utexas-quick-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.field-border .utexas-quick-links li {
  padding-bottom: 10px;
  font-weight: 600;
}

/* Add padding due to border */
.field-border .utexas-quick-links .ut-headline {
  padding: 10px 15px;
}
.field-border .utexas-quick-links .ut-copy,
.field-border .utexas-quick-links .link-list {
  padding: 0 15px;
}
.field-border .utexas-quick-links li {
  padding: 10px 0 0 0;
}

/* Background style */
.field-background .utexas-quick-links {
  border: 0;
  background-color: #fffdfa;
  border-left: 1px solid #f0ede6;
  border-right: 1px solid #f0ede6;
  border-bottom: 1px solid #f0ede6;
  padding-bottom: 20px;
}
.field-background .utexas-quick-links .ut-headline {
  display: inline-block;
  color: #373737;
  background-color: #fef7ed;
  border: 1px solid #f0ede6;
  width: 100%;
  font-weight: 700;
}
.field-background .utexas-quick-links .ut-copy p {
  color: #474541;
  margin-bottom: 10px;
}

