/* Background colors and font colors. */
.utexas-featured-highlight {
  margin: 0 0 1.25rem 0;

  /* Default view mode = Limestone (Light) */
  background-color: #d6d2c4;
  color: #000;
}
.utexas-featured-highlight .ut-copy * {
  color: #000;
}
.utexas-featured-highlight .content-wrapper .ut-headline,
.utexas-featured-highlight .content-wrapper .ut-headline a {
  color: #000;
  padding-top: 0;
  font-size: 2rem;
}
.utexas-featured-highlight .content-wrapper a.ut-btn {
  color: #fff;
}
.utexas-featured-highlight .ut-copy .ut-btn--secondary {
  color: #bf5700;
}
/* Bluebonnet (Medium) */
.utexas-featured-highlight.medium {
  background-color: #005f86;
  color: #fff;
}
.utexas-featured-highlight.medium .content-wrapper a,
.utexas-featured-highlight.medium .content-wrapper .ut-headline {
  color: #fff;
}
.utexas-featured-highlight.medium .ut-copy * {
  color: #fff;
}
.utexas-featured-highlight.medium .ut-copy .ut-btn--secondary {
  color: #bf5700;
}
/* Charcoal (Dark) */
.utexas-featured-highlight.dark {
  background-color: #333f48;
  color: #fff;
}
.utexas-featured-highlight.dark .content-wrapper a,
.utexas-featured-highlight.dark .content-wrapper .ut-headline {
  color: #fff;
}
.utexas-featured-highlight.dark .ut-copy * {
  color: #fff;
}
.utexas-featured-highlight.dark .ut-copy .ut-btn--secondary {
  color: #bf5700;
}

/* Featured Highlight layout styles. Defaults/mobile first */
/* Featured highlight wrapper */
.container.utexas-featured-highlight-inner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

/* One-column styles */
.layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .content-wrapper {
  padding-left: 0;
}
@media all and (max-width: 599px) {
  .layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper {
    padding: 2rem;
    flex-direction: column;
  }
}
@media all and (min-width: 600px) {
  .layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper {
    flex-direction: row;
    padding: 4rem 3rem;
  }
  .layout--utexas-onecol.container-fluid .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper {
    padding: 4rem .925rem;
  }
}
@media all and (min-width: 600px) and (max-width: 899px) {
  .layout--utexas-onecol.container-fluid .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper {
    padding: 3rem .925rem;
  }
  .layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper {
    padding: 3rem;
  }
}

/* Image wrapper. */
.layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .image-wrapper,
.utexas-layout--twocol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .image-wrapper,
.utexas-layout--threecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .image-wrapper,
.utexas-layout--fourcol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .image-wrapper {
  padding: 0;
  max-width: none;
  flex: 1;
  margin-bottom: 2rem;
}
@media all and (min-width: 600px) {
  .layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .image-wrapper {
    margin-bottom: 0;
    max-width: 330px;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .layout--utexas-onecol.container-fluid .layout__region .utexas-featured-highlight .image-wrapper,
  .utexas-layout--twocol .layout__region .utexas-featured-highlight .image-wrapper {
    padding: 0;
  }
}

/* Content wrapper */
.layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .content-wrapper,
.utexas-layout--twocol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .content-wrapper,
.utexas-layout--threecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .content-wrapper,
.utexas-layout--fourcol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper .content-wrapper {
  padding: 0;
  flex: 1;
}
@media all and (min-width: 600px) {
  .layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper > div:nth-child(2) {
    padding-left: 2.5rem;
  }
}
@media all and (min-width: 600px) {
  .layout--utexas-onecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper > div:nth-child(2) {
    padding-left: 2rem;
  }
}
/* Style padding for content-wrapper if image exists in Featured Highlight */
.utexas-featured-highlight .utexas-featured-highlight-inner-wrapper > div:nth-child(2) {
  padding: 2rem;
}
.utexas-featured-highlight .content-wrapper .ut-date {
  font-style: italic;
  margin-bottom: .75rem;
}
.utexas-featured-highlight .content-wrapper .ut-btn {
  margin-bottom: 0;
}

/* Content wrapper responsive */
@media all (max-width: 899px) {
  .utexas-featured-highlight .content-wrapper {
    font-size: .8rem;
  }
}
@media all and (min-width: 900px) {
  .utexas-featured-highlight .content-wrapper {
    font-size: 1rem;
  }
}
@media all and (min-width: 1200px) {
  .utexas-featured-highlight .content-wrapper {
    min-width: auto;
    padding: 2rem;
  }
}

/* Headline styles responsive */
@media all and (min-width: 600px) {
  .utexas-featured-highlight .content-wrapper .ut-headline a,
  .utexas-featured-highlight .content-wrapper .ut-headline {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media all and (min-width: 900px) {
  .utexas-featured-highlight .content-wrapper .ut-headline a,
  .utexas-featured-highlight .content-wrapper .ut-headline {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}

/* Tablet and Desktop styles */
/* Container query to control layout based on container width. */
.utexas-featured-highlight {
  container-type: inline-size;
}

@container (min-width: 570px) {
  .layout__region .utexas-featured-highlight-inner-wrapper {
    display: flex;
    flex-direction: row;
  }
  .layout__region .utexas-featured-highlight-inner-wrapper .content-wrapper {
    flex: 1;
  }
  .utexas-layout--twocol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper > div:nth-child(2) {
    padding-left: 2rem;
  }
  .utexas-layout--threecol .layout__region .utexas-featured-highlight .utexas-featured-highlight-inner-wrapper > div:nth-child(2) {
    padding-left: 2rem;
  }
}

/* If the container is less than 600px */
@container (max-width: 599px) {
  .utexas-layout--twocol .layout__region .utexas-featured-highlight-inner-wrapper,
  .utexas-layout--threecol .layout__region .utexas-featured-highlight-inner-wrapper,
  .utexas-layout--fourcol .layout__region .utexas-featured-highlight-inner-wrapper {
    padding: 2rem;
  }
  .utexas-layout--twocol .layout__region .utexas-featured-highlight .image-wrapper,
  .utexas-layout--threecol .layout__region .utexas-featured-highlight .image-wrapper,
  .utexas-layout--fourcol .layout__region .utexas-featured-highlight .image-wrapper {
    max-width: unset;
    padding: 0 0 1rem 0;
  }
  .utexas-layout--twocol .layout__region .utexas-featured-highlight-inner-wrapper>div:nth-child(2),
  .utexas-layout--threecol .layout__region .utexas-featured-highlight-inner-wrapper>div:nth-child(2),
  .utexas-layout--fourcol .layout__region .utexas-featured-highlight-inner-wrapper>div:nth-child(2) {
    padding: 0 0 0 2.5rem;
  }
}

/* If the container is less than 186px */
@container (max-width: 249px) {
  .utexas-layout--twocol .layout__region .utexas-featured-highlight-inner-wrapper,
  .utexas-layout--threecol .layout__region .utexas-featured-highlight-inner-wrapper,
  .utexas-layout--fourcol .layout__region .utexas-featured-highlight-inner-wrapper {
    padding: 1rem;
  }
  .utexas-featured-highlight .content-wrapper a.ut-btn {
    color: #fff;
  }
}
