name: Sync to public mirror
on: [push, delete]
env:
  OWNER: "utexas-utdk"
  REPO: ${{ github.event.repository.name }}
  REF: ${{ github.ref_name }}
  DELETE_BRANCH: ${{ github.event.ref }}
  GH_TOKEN: ${{ secrets.GH_CLI_PAT_FOR_VMS_USING_GITHUB_ACTIONS }}
  PUBLIC_TOKEN: ${{ secrets.PAT_FOR_PUBLIC_GITHUB_SYNC }}
  TRIGGER: ${{ github.event_name }}
jobs:
  build:
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: SYNC TO PUBLIC MIRROR
        run: |
          rm -rf $REPO
          gh repo clone "$OWNER/$REPO"
          cd $REPO
          git remote add "public" "https://$PUBLIC_TOKEN@github.com/utdk/$REPO.git"
          if [ $TRIGGER == "push" ]; then
            echo "Syncing $REF..."
            git fetch && git checkout $REF
            git push -f public $REF
            exit 0
          fi
          if [ $TRIGGER == "delete" ]; then
            echo "Syncing deleted branch $DELETE_BRANCH..."
            git push public -d -f $DELETE_BRANCH
            exit 0
          fi
          cd ..
          rm -rf $REPO