/* Style to use a negative margin to pull up a section. */
.utexas-negative-margin-top {
  margin-top: -2.5rem;
}
/* Style to hide effect of negative margin in layout builder mode. */
.utexas-negative-margin-top.layout-builder__layout {
  margin-top: 0;
}
/* Style to add padding-top to add space above a section. */
.utexas-padding-top-sections {
  padding-top: 2.5rem;
}
