.field--type-utexas-resources table td a.tabledrag-handle,
#layout-builder-modal .field--type-utexas-resources table td a.tabledrag-handle {
  margin-top: 1.5rem;
}
.field--type-utexas-resources table td details {
  margin-left: 2rem;
  float: left;
  max-width: 90%;
}
#layout-builder-modal .field--type-utexas-resources table td details {
  float: left;
  margin-left: 1rem;
  padding: 0 1.5rem 0.5rem 1.5rem;
}
#layout-builder-modal .field--type-utexas-resources table td details summary {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
