.tabledrag-cell-content__item {
  width: 100%;
}
.field--type-utexas-resources table td a.tabledrag-handle,
#layout-builder-modal .field--type-utexas-resources table td a.tabledrag-handle {
  margin-top: 1.5rem;
}
.field--type-utexas-resources table td details {
  float: left;
  width: 99%;
}
#layout-builder-modal .field--type-utexas-resources table td details {
  float: left;
  width: 99%;
}
#layout-builder-modal .field--type-utexas-resources table td details summary {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.field--type-utexas-resources table td {
  vertical-align: top;
}
.field--type-utexas-resources table td:last-child {
  width: 1%;
}
.field--type-utexas-resources table td input[value^="Remove"] {
  margin-top: 8px;
}
